;; -*- coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Sun Dec 21 18:49:55 2008
;; Emacs version 21.4.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring nil)
(setq regexp-search-ring nil)
(setq register-alist nil)

;; Buffer section:
(desktop-create-buffer 205
  "/cbcl/cbcl01/sharat/leaves/aggregate_ftr.m"
  "aggregate_ftr.m"
  'matlab-mode
  '(auto-fill-mode)
  395
  '(nil nil)
  nil
  nil
  '((fill-column . 70)))

(desktop-create-buffer 205
  "/cbcl/cbcl01/sharat/animals/select_features.m"
  "select_features.m"
  'matlab-mode
  '(auto-fill-mode)
  3425
  '(nil nil)
  nil
  nil
  '((fill-column . 70)))

(desktop-create-buffer 205
  "/cbcl/cbcl01/sharat/animals/script_mask_features.m"
  "script_mask_features.m"
  'matlab-mode
  '(auto-fill-mode)
  4266
  '(nil nil)
  nil
  nil
  '((fill-column . 70)))

(desktop-create-buffer 205
  "/cbcl/cbcl01/sharat/leaves/script_aggregate.m"
  "script_aggregate.m"
  'matlab-mode
  '(auto-fill-mode)
  599
  '(nil nil)
  nil
  nil
  '((fill-column . 70)))

